.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  padding: 92px 50px 96px 50px;
}

.header__links-list {
  display: flex;
  gap: 33px;
  margin-bottom: 6px;
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__link_active {
  text-decoration: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.header__address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  margin-right: 37px;
  margin-bottom: 3px;
}

.cover {
  position: relative;
  min-height: 757px;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  z-index: 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover__title {
  text-transform: uppercase;
  font-size: 100px;
  line-height: 115%;
  color: white;
}

.aligned-text {
 display: block;
}

.aligned-text_left {
  text-align: start;
}

.aligned-text_center {
  text-align: center;
  margin-left: 30px;
  margin-top: 20px;
}

.aligned-text_right {
  text-align: end;
  margin-left: 614px;
  margin-top: 20px;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.cover__description {
  display: flex;
  align-items: center;
  margin-top: 106px;
}

.cover__description-text {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  word-spacing: 18.4px;
  font-weight: 400;
}

.bet-button {
  margin-left: 107px;
  width: 256px;
  height: 51px;
  background-color: transparent;
  border: 1px solid white;
  font-size: 22px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}

.lots {
  margin: 180px 24px 24px 0;
}

.lots__title {
}

.lots__list {
}

.lots__list-item {
}

.lots__list-link {
}

.lots__list-lot {
}

.lots__list-lot-film {
  background-image: url(../images/card-lot-01.jpg);
}

.lots__list-lot-book {
  background-image: url(../images/card-lot-02.jpg);
}

.lots__list-lot-painting {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__lot-title {
}

.lots__lot-text {
}

.lots__more-link {
}

.about {
  margin: 120px 24px 0 24px;
}

.about__logo {
}

.about__logo-image {
}

.about__description {
}

.about__description-title {
}

.about__description-block {
}

.footer {
  margin: 180px 0;
}

.footer__contacts {
}

.footer__contacts-link {
}

.footer__contacts-text {
}

.footer__menu {
}

.footer__menu-list {
}

.footer__menu-item {
}

.footer__menu-link {
}

.footer__socials {
}

.footer__socials-item {
}

.footer__socials-link {
}

.footer__socials-image {
}
